body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

.container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}


.calculator {
    width: 320px;
    height: 520px;
    background-color: #000;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border: 2px solid #fff;
    border-radius: 1rem;
   }

.result {
    height: 120px;
    color: #fff;
}

.history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}

.output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    color: #fff;
}

.keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 30%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.number, .empty {
    background-color: #eaedef;
}

.operator {
    background-color: orangered;
}

.number, .operator {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

.operator:nth-child(4) {
    font-size: 20px;
    background-color: orangered;
}

.operator:nth-child(8) {
    font-size: 20px;
    background-color:orangered}

.operator:nth-child(12) {
    font-size: 20px;
    background-color: orangered}

.operator:nth-child(16) {
    font-size: 20px;
    background-color: orangered;}

.operator:nth-child(20) {
    font-size: 20px;
    background-color: orangered;}

